.main{
    position: relative;
    box-shadow: 0 0 10px #a09f9f;
    margin: 30px auto 0;
    width: 1400px;
    border-top: 4px solid #980c21;
    border-bottom: 4px solid #980c21;
    border-radius: 5px;
    background: #fff;
}
.main .box-nav{
    position: absolute;
    top: -40px;
    width: 24.5%;

}
.main .box-nav .lf-center,.main .box-nav ul{
    float: right;
    width: 90%;
    background: #f7f7f7;
}
.main .box-nav .lf-center{
    text-align: center;
}
.main .box-nav .lf-center img{
    text-align: center;
    padding: 35px 0;

}
.main .box-nav ul{
    padding-bottom: 20px;
}
.main .box-nav ul li{
    position: relative;
    height: 57px;
    line-height: 57px;
    white-space:nowrap;
}
.main .box-nav ul li.active{
    background: #980c21;
    /*background: url("../images/intro-lf.png") no-repeat;*/
}
.main .box-nav ul li.active i{
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 20px;
    height: 68px;
    background: #980c21;
    background: url("../images/intro-lf.png") no-repeat;
    background-size: 100%;
}
.main .box-nav ul li a{
    font-size: 18px;
    color: #666;
}
.main .box-nav ul li.active a{
    color: #fff;
}
.main .box-nav ul li a span{
    margin: 0 2% 0 7%;
    font-size: 20px;
    font-weight: bold;
}

.main .box-rt{
    margin: 40px 46px 100px;
    width: 68%;
    min-height: 450px;
}
.main .box-rt .bread,.main .box-rt .bread a{
    font-size: 16px;
    font-weight: bold;
    color: #980c21;
}
.main .box-rt .con{

}
.main .box-rt .con li{
    padding: 23px 14px;
    border-bottom: 1px dashed #d2d2d2;
}
.main .box-rt .con li .con-lf{
    margin-right: 40px;
    width: 92px;
    height: 92px;
    text-align: center;
    background: #f7f7f7;
    border-radius: 3px;
    font-size: 16px;
    color: #333;
}
.main .box-rt .con li.active .con-lf{
    background: #980c21;
    color: #fff;
}
.main .box-rt .con li .con-lf .day{
    margin-top: 13px;
    font-size: 32px;
    font-weight: bold;
}
.main .box-rt .con li .con-rt{

}
.main .box-rt .con li .con-rt .title{
    font-size: 20px;
    color: #000;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main .box-rt .con li .con-rt .detail{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
-webkit-box-orient: vertical;
    font-size: 14px;
    color: #333;
    line-height: 32px;
    height: 64px;
}
.main .box-rt .con li.active .con-rt .title,.main .box-rt .con li.active .con-rt .detail{
    color: #980c21;
}

.page{
    padding: 62px 0 0 67px;
}
.page div{
    display: inline-block;
    border: 1px solid #7d0000;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
}
.page .prev,.page .next{
    padding: 0 15px;
}
.page .num{
    width: 38px;
    height: 38px;
}
.page .active{
    background: #7d0000;
    color: #fff;
}
@media screen and (max-width: 1420px){
    .main{width: 90%;}
    .main .box-nav ul li a span {font-size: 18px;}
    .main .box-nav ul li a {font-size: 16px;}
}
@media screen and (max-width: 1120px){
    .main .box-nav .lf-center p {font-size: 32px;}
}