.banner-box .swiper-wrapper img {
    width: 100%;
    height: auto;
}
.head-box{
    padding: 43px 0 24px;
    background: url(../images/header-bg.png) repeat-x;
    position: relative;
    min-width: 1400px;
}
.head-box .head{
    margin: auto;
    width: 1400px;
}
.head-box .head .logo{
    float: left;
    display: inline-block;
    color: transparent;
    font-size: 0;
    *zoom:1;*display:inline;
}
.head-box .head .logo img{
    display: inline-block;
    width: auto;
    height: 131px;
    color: transparent;
}
.head-box .head .right{
    float: right;
    margin-top: -24px;
    font-size: 18px;
    color: #fff;
}
.head-box .search{
    padding: 6px 0;
    margin-top: 50px;
    /*width: 410px;*/
    height: 50px;
    background: rgba(255,255,255,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff);
    border-radius: 10px;
}
.head-box .search .left{
    display: inline-block;
    line-height: 40px;
    /*border-right: 1px dashed #222222;*/
}
.head-box .search img{
    margin: 0 13px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    vertical-align: middle;
}
.head-box .search input,.head-box .search .select{
    border: none;
    height: 100%;
    background: none;
}
.head-box .search input{
    width: 201px;
    padding-left: 1.2rem;
}
.head-box .search .select{
    position: relative;
    display: inline-block;
    width: 141px;
    text-align: center;
    border: 0;
    line-height: 38px;
    outline: none;
    background: url("../images/buttom.png") no-repeat center right;
}
.head-box .search .select p{
    height: 100%;
    color: #222;
}
.head-box .search .select .select-ul{
    display: none;
    position: absolute;
    top: 42px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff);
}
.head-box .search .select .select-ul li:hover{
    background: rgba(220,19,38,0.6);
}
/*.banner-box .swiper-wrapper img{*/
    /*min-width: 1400px;*/
/*}*/
/*.swiper-slide {*/
    /*width: 100%;*/
/*}*/
/*.swiper-wrapper img{*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/
.swiper-button-prev{
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 30px;
    width: 57px;
    height: 57px;
    background: url("../images/banner-left.png") no-repeat;
}
.swiper-button-next{
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 30px;
    width: 57px;
    height: 57px;
    background: url("../images/banner-right.png") no-repeat;
}
.banner-box{
    position: relative;
    margin-top: 25px;
    min-width: 1400px;
}
.content-box {
    z-index: 11;
    position: absolute;
    /*top: 16px;*/
    top:218px;
    margin: auto;
    height: 100px;
    background: rgba(255,255,255,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fffffff,endcolorstr=#7Fffffff);
    width: 100%;
}
.content-box .content-list {
    padding-top: 14px;
    margin: 0 auto;
    width: 1400px;
    position: relative;
    text-align: center;
}

.content-box .content-list .content-li{
    position: relative;
    display: inline-block;
    padding: 9px 17px 0;
    /*float: left;*/
    /*width: 8%;*/
    height: 43px;
    font-size: 20px;
    color: #222;
    border-right: 1px dashed #474444;
    cursor: pointer;
    *zoom:1;*display:inline;
    vertical-align: bottom;
    background-image: url(.)
    /*background: #980c21;*/
}
.content-box .content-list .content-li:last-child{
    border-right: none;
}
/*.content-box .content-list .content-li a{*/
    /*float: left;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
.content-box .content-list .content-li.active{
    color: #980c21;
}

.content-box .content-list .content-li p:nth-child(2){
    font-size: 12px;
}
.content-box .content-list .content-li:hover .li-box{
    display: block;
    /**margin-top:-5px;*/
}
.content-box .content-list .li-box{
    display: none;
    position: absolute;
    left: 0;
    top: 28px;
    line-height: 74px;
    color: #980c21;
    font-size: 16px;
    width: 550px;
    text-align: left;
    background-image: url(.)
}
.content-box .content-list .li-box.block{
    display: block;
}
.content-box .content-list .li-box .li-li{
    color: #980c21;
    font-size: 16px;
}
.content-box .content-list .li-box span{
    margin: 0 6px;
}


.main-box{
    width: 100%;
}
.main-box .main{
    margin: auto;
    width: 1400px;
}

.foot-box{
    padding: 40px 0;
    margin-top: 40px;
    width: 100%;
    background: #fff;
    min-width: 1400px;
}
.foot{
    margin: 0 auto;
    width: 1400px;
    height: 100%;
    font-size: 21px;
    color: #424141;
    text-align: center;
}
.foot-box .foot .foot-left{
    display: inline-block;
    width: 105px;
    height: 113px;
    vertical-align: top;
    *zoom: 1;
    *display:inline;
}
.foot-box .foot .foot-left img{
    width: 100%;
    height: auto;
}
.foot-box .foot .foot-right{
    margin: 14px 0 0 37px;
    display: inline-block;
    text-align: left;
    *zoom: 1;
    *display:inline;
}
.foot-box .qrCode{
    z-index: 111111;
    position: fixed;
    right: 20px;
    bottom: 10%;
    font-size: 13px;
    width: 120px;
    text-align: center;
}
.foot-box .qrCode img{
    width: 90%;
    margin: 0 auto;
}


    /*分页 .page*/
.paginationjs .paginationjs-pages{
    float: none;
    padding: 20px 0 163px;
}
.paginationjs .paginationjs-pages ul {
    float: none;
    text-align: center;
}
.paginationjs .paginationjs-pages li{
    float: none;
    display: inline-block;
    border: 1px solid #7d0000;
    margin-right: 5px;
    *display:inline;
    *zoom:1;
}
.paginationjs .paginationjs-pages li:last-child{
    margin-right: 0;
    border: 1px solid #7d0000;
    padding: 0 10px;
}
.paginationjs .paginationjs-pages li:first-child{
    padding: 0 10px;
}
.paginationjs .paginationjs-pages li>a{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.paginationjs .paginationjs-pages li.active>a {

    background: #7d0000;
    color: #fff;
}
.main .box-nav .lf-center p{
    font-size: 40px;
    font-weight: bold;
    color: #980c21;
    padding: 20px;
}
@media screen and (max-width: 1430px){
    .head-box,.banner-box .swiper-wrapper img,.banner-box,.foot-box{min-width: 100%;}
    .head-box .head,.content-box .content-list,.main-box .main,.foot{width: 90%;}
    .content-box .content-list .content-li {padding: 8px 12px 0;font-size: 18px;height: 50px;}
}
@media screen and (max-width: 1320px) {
    .content-box .content-list .content-li {padding: 8px 12px 0;font-size: 14px;height: 40px;}
    .content-box .content-list .li-box{top: 20px;}
    .content-box .content-list .li-box .li-li{font-size: 14px;}
}
@media screen and (max-width: 1120px){
    .head-box .head .logo img{height: 80px;}
    .head-box .search {margin-top: 30px;}
    .content-box {top: 160px;}
    .content-box .content-list .content-li {padding: 8px 10px 0;font-size: 14px;height: 40px;}

}
@media screen and (max-width: 1060px){
    .content-box .content-list .content-li {padding: 4px 5px 0;font-size: 14px;height: 30px;}
    .content-box .content-list .li-box{top: 15px;}
    /*.content-box .content-list .li-box .li-li{font-size: 14px;}*/
}
